 <mat-toolbar class="toolbar">
            <div class="headerInnerFlex">
                <div class="headerImageSize">
                    <img class="headerImage"
                        src="../../assets/WonderlaImage/games-logo-play-svgrepo-com - Copy.svg">
                </div>
                <div class="headerTextSize">
                    <div ><a href="" class="headerText">UPCOMING BOOKING</a></div>
                    <div><a href="" class="headerText">BOOKING HISTORY</a></div>
                    <div ><a href="" class="headerText">MY PROFILE</a></div>
                </div>
            </div>
            <div class="headerIcon">
                <button mat-icon-button class="accountIcon">
                    <mat-icon class="accountIconSize" >account_circle <img src="../../assets/Wonder - Home (1)/Icon awesome-chevron-down-1.svg" class="accountIconImage"></mat-icon>
                    
                </button>
            </div>
    </mat-toolbar>