
<mat-toolbar class="footerToolbar">
    <div class="footerContent">
        <div>
            <div class="footerContentText">
                <div class="fooetContentInnerText">PARKING BOOKING</div>
                <div>
                    <button mat-raised-button class="footerContentButton">
                        <div>Edit Cart</div>
                        <mat-icon>create</mat-icon>
                    </button>
                </div>
            </div>
            <div class="footerSecondContent">
                <div class="footerSecondContentText">Wonderla Bengaluru </div>|
                <div class="footerSecondContentText">09 January'2024 </div>|
                <div class="footerSecondContentText">Total amount</div>
            </div>
        </div>
    </div>
    <div class="footerbutton">
        <div>
            <button mat-button color="primary" class="footerButtonFirstFlex">
                <div class="footerButtonTitle">Quick Pay</div>
                <div>without special services</div>
            </button>
        </div>
        <div>
            <button mat-raised-button color="primary" class="footerButtonSecondFlex">
                <div class="footerButtonTitle">Continue</div>
                <div>with special services</div>
            </button>
        </div>
    </div>
</mat-toolbar>