.subheaderButton {
    padding: 20px !important;
    border: 2px solid #060e9f !important;
    background-color: white !important;
}

.subheaderFlex {
    padding: 0% 0% 1% 0%;
    display: flex;
    width: 100%;
    align-items: center;
}

.subheaderTilte {
    padding-left: 5px;
    width: 77%;
    display: flex;
    justify-content: start;
    font-size: x-large;
    font-weight: 800;
    color: #060e9f;
}

.subheaderContent {
    width: 23%;
    display: flex;
    justify-content: center;
}